[submodule "roslibjs"]
	path = roslibjs
	url = https://github.com/RobotWebTools/roslibjs.git
[submodule "ros2djs"]
	path = ros2djs
	url = https://github.com/RobotWebTools/ros2djs.git
[submodule "ros3djs"]
	path = ros3djs
	url = https://github.com/RobotWebTools/ros3djs.git
[submodule "mjpegcanvasjs"]
	path = mjpegcanvasjs
	url = https://github.com/WPI-RAIL/mjpegcanvasjs.git
[submodule "keyboardteleopjs"]
	path = keyboardteleopjs
	url = https://github.com/WPI-RAIL/keyboardteleopjs.git
[submodule "nav2djs"]
	path = nav2djs
	url = https://github.com/WPI-RAIL/nav2djs.git
