<launch>
	<include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" />
	<node pkg="strands_webtools" type="webserver.sh" name="webserver" cwd="node" />
	<node pkg="mjpeg_server" type="mjpeg_server" name="mjpeg_server" />
	<node pkg="strands_utils" type="republish_robot_pose.py" name="republish_robot_pose" />
</launch>
