<launch>
	<!--<node 	name="throttle_ped_image"
		pkg="topic_tools" type="throttle" 
		args="messages /pedestrian_tracking/image 0.3 /webthrottle/people/image" />
-->
	<node 	name="throttle_image"
		pkg="topic_tools" type="throttle" 
		args="messages /head_xtion/rgb/image_color 0.3 /webthrottle/head/image" />
	<node 	name="throttle_pose"
		pkg="topic_tools" type="throttle" 
		args="messages /amcl_pose 1 /webthrottle/amcl_pose" />
	<node 	name="throttle_mile"
		pkg="topic_tools" type="throttle" 
		args="messages /mileage 0.1 /webthrottle/mileage" />
	<node   name="web_mux" 
		pkg="topic_tools" type="mux"
		args="/webthrottle/image /webthrottle/head/image /webthrottle/people/image /webthrottle/depth/image" />
	<node  	name="select_mux" 
		pkg="topic_tools" type="mux_select" 
		args="mux /webthrottle/head/image" />
</launch>
