<launch>
	<include file="$(find rosbridge_server)/launch/rosbridge_websocket_safe.launch" />
	<!--<node pkg="strands_webtools" type="webserver.sh" name="webserver" cwd="node" /> -->
	<node pkg="mjpeg_server" type="mjpeg_server" name="mjpeg_server">
		<param name="port" value="8181" />
		<rosparam command="load" file="$(find strands_webtools)/launch/mjpeg_server_params.yaml"  />
	</node>
	<node pkg="tf2_web_republisher" type="tf2_web_republisher" name="tf2_web_republisher" />
	<node pkg="image_blurrer" type="image_blurrer_node" name="image_blurrer" />
</launch>
